
@font-face {
    font-family: 'Montserrat';
    src: url('Motserrat.ttf') format('truetype');
}

* {
    font-family: 'Montserrat';
}

h1, h2, h3, span {
    color: #fff;
}

.category {
    background-color: #262440;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 1em;
}

body {
    background-color: #14131C;
}


input {
    outline: none;
}

input[type="text"] {
    color: #fff;
    background-color: #0000;
    border: 1px #262440 solid;
    border-radius: 0.2rem;
}

input[type="text"]:hover 
input[type="text"]:active,
input[type="text"]:focus {
    border: 1px solid #4BBBEF;
}